@tailwind base;
@tailwind components;
@tailwind utilities;

.hashnode-content-style{
    @apply prose font-inter break-words text-slate-950 first:prose-p:mt-0 prose-img:max-w-full lg:prose-p:leading-normal prose-p:leading-normal prose-a:underline  dark:hover:prose-a:text-pink-400  prose-blockquote:leading-snug prose-a:leading-snug prose-figure:leading-snug prose-figcaption:leading-snug prose-pre:leading-snug prose-li:leading-snug prose-ul:leading-snug prose-ol:leading-snug prose-th:leading-snug prose-td:leading-snug lg:prose-lg prose-base  first:prose-h1:mt-0 first:prose-h2:mt-0 first:prose-h3:mt-0 first:prose-h4:mt-0 first:prose-h5:mt-0 prose-headings:font-dmsans;
} 

.bg-pattern-square{
   
    background-color: #ffffff;
    opacity: 0.9;
    background-image:  linear-gradient(#f3f4fe 1.9000000000000001px, transparent 1.9000000000000001px), linear-gradient(to right, #f3f4fe 1.9000000000000001px, #ffffff 1.9000000000000001px);
    background-size: 60px 60px;
    }

